name: Run Tests

# When this workflow runs
on:
  push:
    branches: [ main ]  # Run on pushes to main branch
  pull_request:
    branches: [ main ]  # Run on PRs targeting main branch

jobs:
  run-tests:
    runs-on: ubuntu-latest  # Use latest Ubuntu runner
    
    steps:
    # Download the repository code
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
        cache: 'pip'

    - name: Install dependencies
      run: pip install -r requirements.txt -r requirements-dev.txt

    - name: Run tests
      run: pytest --ds=config.settings.test